{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/contra/img/ItauBanco.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Tablero Interactivo</title>
    {% include "contra_index.html" %}
    <style>
        .form-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px; /* Reducir el margen inferior */
        }
        .form-row div {
            flex: 1;
            margin-right: 5px; /* Reducir el margen derecho */
        }
        .form-row div:last-child {
            margin-right: 0;
        }
        .hidden {
            display: none;
        }
        select {
            width: 100%; /* Asegura que los select llenen el ancho del contenedor */
        }
        label {
            display: block;
            margin-bottom: 2px; /* Reduce el margen inferior del label */
        }
    </style>
</head>
<body>
    <header>
        <img class="itau_logo" src="{% static 'imgs/groot/Img/Itaú_Unibanco_logo.png' %}" alt="">
        <h1 class="titulo_groot">Contracargo Interactivo</h1>
    </header>

    <form class="form-dash" action="/contra/grafico_interactivo/" method="POST">{% csrf_token %}
        <!-- Primera fila del formulario -->
        <div class="form-row" id="part1">
            <div>
                <label class="label_marca" for="columna_x1">X:</label>
                <select class="opcion-dash opcion-dash2" name="columna_x1" id="columna_x1">
                    {% for columna in columnas_disponibles_contra %}
                        <option value="{{ columna }}" {% if columna|yesno:"selected,"|default:"" %} selected {% endif %}>{{ columna }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="label_marca" for="columna_y1">Y:</label>
                <select class="opcion-dash opcion-dash2" name="columna_y1" id="columna_y1">
                    {% for columna in columnas_disponibles_contra %}
                        <option value="{{ columna }}" {% if columna|yesno:"selected,"|default:"" %} selected {% endif %}>{{ columna }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="label_marca">Gráfico</label>
                <select class="opcion-dash opcion-grafico" name="tipo_grafico" id="tipo_grafico">
                    <option value='line'>De Línea</option>
                    <option value='bar'>De Barras</option>
                    <option value='doughnut'>De Dona</option>
                    <option value='pie'>De Tarta</option>
                    <option value='polarArea'>Polar</option>
                    <option value='radar'>Radar</option>
                    <option value='scatter'>De Dispersión</option>
                </select>
            </div>
            <div>
                <label class="label_marca">Calibrar:</label>
                <select class="opcion-dash opcion-calibrar" name="calibre" id="calibre">
                    <option value='Todo'>Todo</option>
                    <option value='SumaX'>Recuento: X</option>
                </select>
            </div>
            <div>
                <label class="label_marca" for="dict">Mes:</label>
                <select class="opcion-dash" name="mes-opcion" id="opcion-dash">
                    <option value="Ultimo">Último</option>
                    <option value="Todos">Todos</option>
                    <option value=01>Enero</option>
                    <option value=02>Febrero</option>
                    <option value=03>Marzo</option>
                    <option value=04>Abril</option>
                    <option value=05>Mayo</option>
                    <option value=06>Junio</option>
                    <option value=07>Julio</option>
                    <option value=08>Agosto</option>
                    <option value=09>Septiembre</option>
                    <option value=10>Octubre</option>
                    <option value=11>Noviembre</option>
                    <option value=12>Diciembre</option>
                </select>
            </div>
            <div>
                <label class="label_marca" for="dict">Año:</label>
                <select class="opcion-dash AÑO" name="año-opcion" id="opcion-dash">
                    <option value="2024">2024</option>
                </select>
            </div>
        </div>
        
        <!-- Segunda fila del formulario -->
        <div class="form-row hidden" id="part2">
            <div>
                <label class="label_marca" for="dict">Desde:</label>
                <select class="opcion-dash MES" name="desde-opcion" id="opcion-dash">
                    <option value=->-</option>
                    <option value=01>Enero</option>
                    <option value=02>Febrero</option>
                    <option value=03>Marzo</option>
                    <option value=04>Abril</option>
                    <option value=05>Mayo</option>
                    <option value=06>Junio</option>
                    <option value=07>Julio</option>
                    <option value=08>Agosto</option>
                    <option value=09>Septiembre</option>
                    <option value=10>Octubre</option>
                    <option value=11>Noviembre</option>
                    <option value=12>Diciembre</option>
                </select>
            </div>
            <div>
                <label class="label_marca" for="dict">Hasta:</label>
                <select class="opcion-dash MES" name="hasta-opcion" id="opcion-dash">
                    <option value=->-</option>
                    <option value=01>Enero</option>
                    <option value=02>Febrero</option>
                    <option value=03>Marzo</option>
                    <option value=04>Abril</option>
                    <option value=05>Mayo</option>
                    <option value=06>Junio</option>
                    <option value=07>Julio</option>
                    <option value=08>Agosto</option>
                    <option value=09>Septiembre</option>
                    <option value=10>Octubre</option>
                    <option value=11>Noviembre</option>
                    <option value=12>Diciembre</option>
                </select>
            </div>
            <div>
                <label class="label_marca" for="dict">Modo:</label>
                <select class="opcion-dash MODO" name="modo-opcion" id="opcion-dash">
                    <option value="Cerrado">Mes Cerrado</option>
                    <option value="Acumulativo">Acumulativo</option>
                </select>
            </div>
            <div>
                <label class="label_marca" for="dict">Conversión:</label>
                <select class="opcion-dash CONVERSION" name="conversion-opcion" id="opcion-dash">
                    <option value="GS">Guaraníes</option>
                    <option value="USD">Dólares</option>
                </select>
            </div>
            <div>
                <label class="label_marca" for="dict">Tipo:</label>
                <select class="opcion-dash" name="tipo-opcion" id="columna_x1">
                    <option value='Total'>Total</option>
                    <option value='TNP'>TNP</option>
                    <option value='TP'>TP</option>
                </select>
            </div>
            <div>
                <label for="input12">Input 12</label>
                <select id="input12" name="input12">
                    <option value="opcion1">Opción 1</option>
                    <option value="opcion2">Opción 2</option>
                    <option value="opcion3">Opción 3</option>
                </select>
            </div>
        </div>
        
        <!-- Botón para mostrar/ocultar la segunda parte -->
        <button type="button" onclick="togglePart2()">Mostrar/Ocultar Parte 2</button>
        
        <!-- Botón de envío del formulario -->
        <button type="submit">Enviar Formulario</button>
    </form>

    <main>
        <section class="container-box">
            <div class="box box_interactivo"><canvas id="myChart"></canvas></div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js"></script>

    <script>
        function togglePart2() {
            const part2 = document.getElementById('part2');
            if (part2.classList.contains('hidden')) {
                part2.classList.remove('hidden');
            } else {
                part2.classList.add('hidden');
            }
        }
    </script>

    <script>
        const ctx = document.getElementById('myChart');
        var X1 = JSON.parse('{{ X1|escapejs}}');
        var Y1 = JSON.parse('{{ Y1|escapejs}}');
        var grafico = JSON.parse('{{ grafico|escapejs}}');

        new Chart(ctx, {
            type: grafico,
            data: {
                datasets: [{
                    label: 'Y1',
                    data: Y1,
                }],
                labels: X1
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Prueba'
                    }
                },
                scales: {
                    y: {
                        stacked: true
                    }
                }
            }
        });
    </script>
</body>
</html>
