{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/contra/img/ItauBanco.png' %}">
    <link rel="preconnect" href=https://fonts.googleapis.com>
    <link rel="preconnect" href=https://fonts.gstatic.com crossorigin>
    <link href=https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap rel="stylesheet">
    <link href=https://fonts.googleapis.com/css2?family=Russo+One&display=swap rel="stylesheet">
    <title>Tablero Contracargo (L)</title>
    {% include "contra_index.html" %}
</head>
<body>
    <header>
        <img class="itau_logo" src="{% static 'imgs/groot/Img/Itaú_Unibanco_logo.png' %}" alt="">
        <h1 class="titulo_groot">Tablero de Contracargo BPS</h1>
        <div class="menu">
            <form class="form-dash" action="/contra/listarContra/" method="POST">{% csrf_token %}
                <label class="label_marca" for="dict"><b>Tipo: </b></label>
                <select class="opcion-dash MARCA" name="tipo-opcion" id="tipo-opcion">
                    <option value="TNP">TNP</option>
                    <option value="TP">TP</option>
                </select>
                <br>
                <label class="label_marca" for="dict"><b>Mes: </b></label>
                <select class="opcion-dash MES" name="mes-opcion" id="mes-opcion">
                    <option value="Ultimo">Ultimo</option>
                    <option value=01>Enero</option>
                    <option value=02>Febrero</option>
                    <option value=03>Marzo</option>
                    <option value=04>Abril</option>
                    <option value=05>Mayo</option>
                    <option value=06>Junio</option>
                    <option value=07>Julio</option>
                    <option value=08>Agosto</option>
                    <option value=09>Septiembre</option>
                    <option value=10>Octubre</option>
                    <option value=11>Noviembre</option>
                    <option value=12>Diciembre</option>
                </select>
                <br>
                <label class="label_marca" for="dict"><b>Año: </b></label>
                <select class="opcion-dash AÑO" name="año-opcion" id="año-opcion">
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                </select>
                <br>
                <label class="label_marca" for="dict"><b>Modo: </b></label>
                <select class="opcion-dash MODO" name="modo-opcion" id="modo-opcion">
                    <option value="Cerrado">Mes Cerrado</option>
                    <option value="Acumulativo">Acumulativo</option>
                </select>
                <br>
                <label class="label_marca" for="dict"><b>Conversion: </b></label>
                <select class="opcion-dash CONVERSION" name="conversion-opcion" id="conversion-opcion">
                    <option value="GS">Guaranies</option>
                    <option value="USD">Dolares</option>
                </select>
                <button class="submit-contra" type="submit">Generar</button>
            </form>
            <div class="grafico_interactivo">
                <a class="button" href="/contra/grafico_interactivo">Interactivo</a>
            </div>
        </div>
    </header>
    <div class="paneles">
        <div class="panel_T panel">
            <h5 class="titulo_panel">Cantidad de Tarjetas</h5>
            <div class="labell">
                <label id="cant_trans"></label>
            </div>
            <hr>
            <h5 class="titulo_panel">Importe Total</h5>
            <div class="label_importe">
                <label id="importe_total"></label>
            </div>
        </div>
        <div class="panel_MC INFO panel">
            <h5 class="titulo_panel">MC - Tarjetas</h5>
            <div class="labell">
                <label id="cant_tarjetasMC"></label>
            </div>
            <hr>
            <h5 class="titulo_panel">Importe</h5>
            <div class="label_importe">
                <label id="importe_totalMC"></label>
            </div>
        </div>
        <div class="panel_VS INFO panel">
            <h5 class="titulo_panel">VS - Tarjetas</h5>
            <div class="labell">
                <label id="cant_tarjetasVS"></label>
            </div>
            <hr>
            <h5 class="titulo_panel">Importe</h5>
            <div class="label_importe">
                <label id="importe_totalVS"></label>
            </div>
        </div>
        <div class="panel_AMEX INFO panel">
            <h5 class="titulo_panel">AMEX - Tarjetas</h5>
            <div class="labell">
                <label id="cant_tarjetasAMEX"></label>
            </div>
            <hr>
            <h5 class="titulo_panel">Importe</h5>
            <div class="label_importe">
                <label id="importe_totalAMEX"></label>
            </div>
        </div>
        <div class="panel_DASH panel">
            <h5 class="titulo_panel">Transacciones</h5>
            <canvas class="mychart7" id="myChart7"></canvas>
        </div>
    </div>
    <main>
        <section class="container-box">
            <div class="box"><canvas id="myChart"></canvas></div>
            <div class="box"><canvas id="myChart2"></canvas></div>
        </section>
        <hr>
        <section class="container-box">
            <div class="box"><canvas id="myChart3"></canvas></div>
            <div class="box"><canvas id="myChart4"></canvas></div>
        </section>
        <hr>
        <section class="container-box">
            <div class="box"><canvas id="myChart5"></canvas></div>
            <div class="box"><canvas id="myChart6"></canvas></div>
        </section>
        <hr>
        <section class="container-box">
            <div class="box"><canvas id="myChart8"></canvas></div>
            <div class="box boxECI"><canvas id="myChart9"></canvas></div>
        </section>
    </main>

    <script>
        document.querySelector('.form-dash').addEventListener('submit', function(event) {
            event.preventDefault();
            const tipoOpcion = document.getElementById('tipo-opcion').value;
            const mesOpcion = document.getElementById('mes-opcion').value;
            const añoOpcion = document.getElementById('año-opcion').value;
            const modoOpcion = document.getElementById('modo-opcion').value;
            const conversionOpcion = document.getElementById('conversion-opcion').value;
            localStorage.setItem('tipo-opcion', tipoOpcion);
            localStorage.setItem('mes-opcion', mesOpcion);
            localStorage.setItem('año-opcion', añoOpcion);
            localStorage.setItem('modo-opcion', modoOpcion);
            localStorage.setItem('conversion-opcion', conversionOpcion);
            this.submit();
        });

        window.onload = function() {
            const tipoOpcion = localStorage.getItem('tipo-opcion');
            const mesOpcion = localStorage.getItem('mes-opcion');
            const añoOpcion = localStorage.getItem('año-opcion');
            const modoOpcion = localStorage.getItem('modo-opcion');
            const conversionOpcion = localStorage.getItem('conversion-opcion');
            if (tipoOpcion) document.getElementById('tipo-opcion').value = tipoOpcion;
            if (mesOpcion) document.getElementById('mes-opcion').value = mesOpcion;
            if (añoOpcion) document.getElementById('año-opcion').value = añoOpcion;
            if (modoOpcion) document.getElementById('modo-opcion').value = modoOpcion;
            if (conversionOpcion) document.getElementById('conversion-opcion').value = conversionOpcion;
        };
    </script>
</body>
</html>
