{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'imgs/contra/img/ItauBanco.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <title>Tablero Contracargo (L)</title>
    {% include "contra_index.html" %}
</head>
<body>
    <header>
        <img class="itau_logo" src="{% static 'imgs/groot/Img/Itaú_Unibanco_logo.png' %}" alt="">
        <h1 class="titulo_groot">Tablero de Contracargo BPS</h1>
        <div class="menu">
            <form class="form-dash" action="/contra/listarContra/" method="POST" id="main-form">{% csrf_token %}
                <label class="label_marca" for="dict"><b>Tipo: </b></label>
                <select class="opcion-dash MARCA" name="tipo-opcion" id="tipo-opcion">
                    <option value="TNP">TNP</option>
                    <option value="TP">TP</option>
                </select>
                <br>
                <label class="label_marca" for="dict"><b>Mes: </b></label>
                <select class="opcion-dash MES" name="mes-opcion" id="mes-opcion">
                    <option value="Ultimo">Ultimo</option>
                    <option value="01">Enero</option>
                    <option value="02">Febrero</option>
                    <option value="03">Marzo</option>
                    <option value="04">Abril</option>
                    <option value="05">Mayo</option>
                    <option value="06">Junio</option>
                    <option value="07">Julio</option>
                    <option value="08">Agosto</option>
                    <option value="09">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
                <br>
                <label class="label_marca" for="dict"><b>Año: </b></label>
                <select class="opcion-dash AÑO" name="año-opcion" id="año-opcion">
                    <option value="2025">2025</option>
                    <option value="2024">2024</option>
                </select>
                <br>
                <label class="label_marca" for="dict"><b>Modo: </b></label>
                <select class="opcion-dash MODO" name="modo-opcion" id="modo-opcion">
                    <option value="Cerrado">Mes Cerrado</option>
                    <option value="Acumulativo">Acumulativo</option>
                </select>
                <br>
                <label class="label_marca" for="dict"><b>Conversión: </b></label>
                <select class="opcion-dash CONVERSION" name="conversion-opcion" id="conversion-opcion">
                    <option value="GS">Guaraníes</option>
                    <option value="USD">Dólares</option>
                </select>
                <button class="submit-contra" type="submit">Generar</button>
            </form>
            <div class="grafico_interactivo">
                <a class="button" href="/contra/grafico_interactivo">Interactivo</a>
            </div>
        </div>
    </header>
    <div class="paneles">
        <div class="panel_T panel">
            <h5 class="titulo_panel">Cantidad de Tarjetas</h5>
            <div class="labell">
                <label id="cant_trans"></label>
            </div>
            <hr>
            <h5 class="titulo_panel">Importe Total</h5>
            <div class="label_importe">
                <label id="importe_total"></label>
            </div>
        </div>
        <div class="panel_MC INFO panel">
            <h5 class="titulo_panel">MC - Tarjetas</h5>
            <div class="labell">
                <label id="cant_tarjetasMC"></label>
            </div>
            <hr>
            <h5 class="titulo_panel">Importe</h5>
            <div class="label_importe">
                <label id="importe_totalMC"></label>
            </div>
        </div>
        <div class="panel_VS INFO panel">
            <h5 class="titulo_panel">VS - Tarjetas</h5>
            <div class="labell">
                <label id="cant_tarjetasVS"></label>
            </div>
            <hr>
            <h5 class="titulo_panel">Importe</h5>
            <div class="label_importe">
                <label id="importe_totalVS"></label>
            </div>
        </div>
        <div class="panel_AMEX INFO panel">
            <h5 class="titulo_panel">AMEX - Tarjetas</h5>
            <div class="labell">
                <label id="cant_tarjetasAMEX"></label>
            </div>
            <hr>
            <h5 class="titulo_panel">Importe</h5>
            <div class="label_importe">
                <label id="importe_totalAMEX"></label>
            </div>
        </div>
        <div class="panel_DASH panel">
            <h5 class="titulo_panel">Transacciones</h5>
            <canvas class="mychart7" id="myChart7"></canvas>
        </div>
    </div>
    <main>
        <section class="container-box">
            <div class="box"><canvas id="myChart"></canvas></div>
            <div class="box"><canvas id="myChart2"></canvas></div>
        </section>
        <hr>
        <section class="container-box">
            <div class="box"><canvas id="myChart3"></canvas></div>
            <div class="box"><canvas id="myChart4"></canvas></div>
        </section>
        <hr>
        <section class="container-box">
            <div class="box"><canvas id="myChart5"></canvas></div>
            <div class="box"><canvas id="myChart6"></canvas></div>
        </section>
        <hr>
        <section class="container-box">
            <div class="box"><canvas id="myChart8"></canvas></div>
            <div class="box boxECI"><canvas id="myChart9"></canvas></div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js"></script>
    <script>
        function separadorDeMiles(numero) {
            // Convierto el número a string.
            let str = numero.toString();
            // Aquí almacenaremos los resultados.
            let resultado = "";
            // Recorremos el string con for "str.length" veces.
            for (let i = 0; i < str.length; i++) {
                // Cada número, lo concatenamos a "resultado".
                resultado += str[i];
                // y luego de concatenar el número, verifico si el iterador es un múltiplo de 3.
                // ponemos "i < str.length - 1" para evitar que el punto se agregue al final del string.
                if ((str.length - i - 1) % 3 === 0 && i < str.length - 1) {
                    resultado += ".";
                }
            }
            return resultado;
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const form = document.getElementById('main-form');
            const fields = ['tipo-opcion', 'mes-opcion', 'año-opcion', 'modo-opcion', 'conversion-opcion'];

            // Populate form fields with saved values
            fields.forEach(field => {
                const savedValue = localStorage.getItem(field);
                if (savedValue) {
                    document.getElementById(field).value = savedValue;
                }
            });

            // Save form data on submit
            form.addEventListener('submit', () => {
                fields.forEach(field => {
                    const value = document.getElementById(field).value;
                    localStorage.setItem(field, value);
                });
            });
        });

        const ctx  = document.getElementById('myChart');
        const ctx2 = document.getElementById('myChart2');
        const ctx3 = document.getElementById('myChart3');
        const ctx4 = document.getElementById('myChart4');
        const ctx5 = document.getElementById('myChart5');
        const ctx6 = document.getElementById('myChart6');
        const ctx7 = document.getElementById('myChart7');
        const ctx8 = document.getElementById('myChart8');
        const ctx9 = document.getElementById('myChart9');

        var CTT = JSON.parse('{{ CTT|escapejs}}');
        var Importe_CTT = JSON.parse('{{ Importe_CTT|escapejs}}');
        var CTMC = JSON.parse('{{ CTMC|escapejs}}');
        var Importe_CTMC = JSON.parse('{{ Importe_CTMC|escapejs}}');
        var CTVS = JSON.parse('{{ CTVS|escapejs}}');
        var Importe_CTVS = JSON.parse('{{ Importe_CTVS|escapejs}}');
        var CTAME = JSON.parse('{{ CTAME|escapejs}}');
        var Importe_CTAME = JSON.parse('{{ Importe_CTAME|escapejs}}');

        var CTRANSMC = JSON.parse('{{ CTRANSMC|escapejs}}');
        var CTRANSVS = JSON.parse('{{ CTRANSVS|escapejs}}');
        var CTRANSAME = JSON.parse('{{ CTRANSAME|escapejs}}');

        var CANTIDAD_TRANS = document.getElementById('cant_trans');
        var IMPORTE_TOTAL = document.getElementById('importe_total');
        var CANTIDAD_TRANS_MC = document.getElementById('cant_tarjetasMC');
        var IMPORTE_TOTAL_MC = document.getElementById('importe_totalMC');
        var CANTIDAD_TRANS_VS = document.getElementById('cant_tarjetasVS');
        var IMPORTE_TOTAL_VS = document.getElementById('importe_totalVS');
        var CANTIDAD_TRANS_AMEX = document.getElementById('cant_tarjetasAMEX');
        var IMPORTE_TOTAL_AMEX = document.getElementById('importe_totalAMEX');

        CANTIDAD_TRANS.innerHTML = separadorDeMiles(CTT);
        IMPORTE_TOTAL.innerHTML = separadorDeMiles(Importe_CTT);

        CANTIDAD_TRANS_MC.innerHTML = separadorDeMiles(CTMC);
        IMPORTE_TOTAL_MC.innerHTML = separadorDeMiles(Importe_CTMC);

        CANTIDAD_TRANS_VS.innerHTML = separadorDeMiles(CTVS);
        IMPORTE_TOTAL_VS.innerHTML = separadorDeMiles(Importe_CTVS);

        CANTIDAD_TRANS_AMEX.innerHTML = separadorDeMiles(CTAME);
        IMPORTE_TOTAL_AMEX.innerHTML = separadorDeMiles(Importe_CTAME);

        var conversion = JSON.parse('{{ conversion2|escapejs}}');
        var MESES = JSON.parse('{{ MESES|escapejs}}');
        var TIPOTRANS = JSON.parse('{{ TIPOTRANS|escapejs}}');
        var MES = JSON.parse('{{ MES|escapejs}}');
        var año = JSON.parse('{{ año|escapejs}}');
        var contracargoTotales = JSON.parse('{{ contracargoTotales|escapejs}}');
        var facturacionTotales = JSON.parse('{{ facturacionTotales|escapejs}}');
        var bpsTotales = JSON.parse('{{ bpsTotales|escapejs}}');

        var TRBPSFraude = JSON.parse('{{ TRBPSFraude|escapejs}}');
        var TRBPSFacturacion = JSON.parse('{{ TRBPSFacturacion|escapejs}}');
        var trBPS = JSON.parse('{{ trBPS|escapejs}}');

        var TipoTransaccionDeseadaMC = JSON.parse('{{ TipoTransaccionDeseadaMC|escapejs}}');
        var TipoTransaccionDeseadaVS = JSON.parse('{{ TipoTransaccionDeseadaVS|escapejs}}');
        var TipoTransaccionDeseadaAME = JSON.parse('{{ TipoTransaccionDeseadaAME|escapejs}}');

        var HISTORICO_CONTRACARGO = JSON.parse('{{ HISTORICO_CONTRACARGO|escapejs}}');

        var Top10Comercios = JSON.parse('{{ Top10Comercios|escapejs}}');
        var Importe10Comercios = JSON.parse('{{ Importe10Comercios|escapejs}}');

        var Top10MCC = JSON.parse('{{ Top10MCC|escapejs}}');
        var Importe10MCC = JSON.parse('{{ Importe10MCC|escapejs}}');

        var PoliMC = JSON.parse('{{ PoliMC|escapejs}}');
        var PoliVS = JSON.parse('{{ PoliVS|escapejs}}');
        var PoliAME = JSON.parse('{{ PoliAME|escapejs}}');

        var CantPoliMC = JSON.parse('{{ CantPoliMC|escapejs}}');
        var CantPoliVS = JSON.parse('{{ CantPoliVS|escapejs}}');
        var CantPoliAME = JSON.parse('{{ CantPoliAME|escapejs}}');

        var ECI05 = JSON.parse('{{ ECI05|escapejs}}');
        var ECI07 = JSON.parse('{{ ECI07|escapejs}}');

        var ECI05Monto = JSON.parse('{{ ECI05Monto|escapejs}}');
        var ECI07Monto = JSON.parse('{{ ECI07Monto|escapejs}}');

        let delayed;

        new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    type: 'bar',
                    label: 'Fraude USD',
                    data: contracargoTotales,
                    stack: 'combined',
                    borderColor: 'rgb(29, 64, 128)',
                    backgroundColor: 'rgb(29, 64, 128)',
                },{
                    type: 'bar',
                    label: 'Facturacion USD',
                    data: facturacionTotales,
                    stack: 'combined',
                    borderColor: 'rgb(255, 120, 0)',
                    backgroundColor: 'rgb(255, 120, 0)',
                },{
                    label: 'BPS',
                    data:  bpsTotales,
                    stack: 'combined',
                    backgroundColor: 'rgb(115, 198, 161)',
                    //borderColor: 'rgb(115, 198, 161)'
                }],
                labels: MESES
            },
            options: {
            //indexAxis: 'y',
            animation: {
                    onComplete: () => {
                        delayed = true;
                    },
                },
            plugins: {
                title: {
                    display: true,
                    text: 'Ratio Puntos Base Por Mes en ' + conversion + ' en el año ' + año
                }
            },
            scales: {
                y: {
                    stacked: true
                }
            }
        }
        });

        new Chart(ctx2, {
            type: 'line',
            data: {
                labels: ['Mastercard', 'Visa', 'Amex'],
                datasets: [{
                    type: 'bar',
                    label: 'Fraude ' + conversion,
                    data: TRBPSFraude,
                    stack: 'combined',
                    borderColor: 'rgb(29, 64, 128)',
                    backgroundColor: 'rgb(29, 64, 128)'
                },{
                    type: 'bar',
                    label: 'Facturacion ' + conversion,
                    data: TRBPSFacturacion,
                    stack: 'combined',
                    borderColor: 'rgb(255, 120, 0)',
                    backgroundColor: 'rgb(255, 120, 0)'
                },{
                    label: 'BPS',
                    data: trBPS,
                    stack: 'combined',
                    backgroundColor: 'rgb(115, 198, 161)',
                    //borderColor: 'rgb(115, 198, 161)'
                }],
            },
            options: {
                animation: {
                    onComplete: () => {
                        delayed = true;
                    },
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Ratio Puntos Base Por Marca del ' + MES + ' en ' + conversion + ' en el año ' + año
                    },
                },
                scales: {
                    y: {
                        stacked: true
                    }
                }
            }
        });

        new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: MESES,
                datasets: [{
                    label: 'TNP_MC',
                    data: TipoTransaccionDeseadaMC,
                    borderColor: 'rgb(255, 120, 0)',
                    backgroundColor: 'rgb(255, 120, 0)'
                },{
                    label: 'TNP_VS',
                    data: TipoTransaccionDeseadaVS,
                    borderColor: 'rgb(29, 64, 128)',
                    backgroundColor: 'rgb(29, 64, 128)'
                },{
                    label: 'TNP_AMEX',
                    data: TipoTransaccionDeseadaAME,
                    borderColor: 'rgb(95, 96, 98)',
                    backgroundColor: 'rgb(95, 96, 98)'
                }],
            },
            options: {
                animation: {
                    onComplete: () => {
                        delayed = true;
                    },
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Evolucion Mensual del Fraude - ' + TIPOTRANS + ' en ' + conversion + ' en el año ' + año
                    },
                },
                scales: {
                    y: {
                        stacked: false
                    }
                }
            }
        });

        new Chart(ctx4, {
            type: 'bar',
            data: {
                labels: MESES,
               
